<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Collections.Concurrent" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="4.0.10.0" newVersion="4.0.11.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpRemote" publicKeyToken="951c63ca832f7094" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.5.166.0" newVersion="0.5.166.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
